.itemList {
  margin: 24px auto;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 0px) {
  .listWidth {
    width: calc(256px + 24px);
  }
}

@media screen and (min-width: 560px) {
  .listWidth {
    width: calc((256px + 24px) * 2);
  }
}

@media screen and (min-width: 840px) {
  .listWidth {
    width: calc((256px + 24px) * 3);
  }
}

@media screen and (min-width: 1120px) {
  .listWidth {
    width: calc((256px + 24px) * 4);
  }
}

@media screen and (min-width: 1400px) {
  .listWidth {
    width: calc((256px + 24px) * 5);
  }
}
